/* Seção de serviços */
#services-area {
    margin-top: 80px;
    font-size: 18px;
}

#services-area .row.first-row {
    height: 650px;
}

/* Espaçamento inferior seções de serviços */
#services-area .mg-bottom {
    margin-top: 0;
    margin-bottom: 80px;
}

#services-area .mg-top {
    margin-top: 80px;
    margin-bottom: 0px;
}

/* Estilização para o título da marca */
#services-area .brand-title {
    text-align: center;
    /* Centraliza o título */
    font-size: 2.5rem;
    /* Tamanho do texto */
    font-weight: bold;
    /* Deixa o texto em negrito */
    color: var(--red-color);
    /* Cor principal do título */
    margin-top: 50px;
    margin-bottom: 50px;
    /* Espaçamento inferior */
    position: relative;
    /* Para ajustar o ícone */
}

/* Adiciona uma linha abaixo do título */
#services-area .brand-title::after {
    content: '';
    /* Cria o conteúdo da linha */
    position: absolute;
    /* Posiciona a linha abaixo do título */
    bottom: -10px;
    /* Distância da linha para o título */
    left: 50%;
    /* Centraliza a linha */
    width: 0%;
    /* Inicialmente, a linha tem largura 0 */
    height: 3px;
    /* Altura da linha */
    background-color: var(--red-color);
    /* Cor da linha */
    transition: width 0.5s ease-in-out;
    /* Transição suave */
    transform: translateX(-50%);
    /* Ajuste para centralizar a linha */
}

/* Efeito da linha ao passar o mouse */
#services-area .brand-title:hover::after {
    width: 100%;
    /* A linha se expande para 100% da largura */
}

/* Estilização para o texto da marca */
#services-area .logo-text {
    display: inline-flex;
    /* Para alinhar o ícone com o texto */
    align-items: center;
    /* Centraliza verticalmente o ícone com o texto */
    color: var(--light-gray-color);
}

/* Estilização para o ícone */
#services-area .logo-text i {
    font-size: 30px;
    /* Tamanho do ícone */
    color: var(--red-color);
    /* Cor do ícone */
    transition: transform 0.3s ease;
    /* Suaviza a animação */
}

/* Título principal da seção */
#services-area .main-title {
    font-size: 2rem;
    text-align: center;
    color: var(--light-gray-color);
}

/* Descrição dos serviços */
#services-area .service-description {
    font-size: 1.125rem;
    /* Equivalente a 18px */
    line-height: 1.5;
    margin-bottom: 30px;
    margin-top: 20px;
    color: var(--light-gray-color);
}

.service-benefits li,
.service-benefits-2 li {
    margin: 15px 0;
}

#services-area .service-benefits li i,
#services-area .service-benefits-2 li i {
    margin: 0;
    /* Remove qualquer margem externa */
    padding: 0;
    /* Remove o padding interno */
    display: flex;
    list-style: none;
    /* Remove os marcadores */
    text-align: center;
    justify-content: center;
    margin-right: 15px;
}

#services-area .service-benefits li .animated-icon-4,
#services-area .service-benefits-2 li .animated-icon-4 {
    margin-right: 4px;
}

#services-area .service-benefits li .animated-icon-9,
#services-area .service-benefits-2 li .animated-icon-9 {
    margin-right: 9px;
}

#services-area .service-benefits li .animated-icon-11,
#services-area .service-benefits-2 li .animated-icon-11 {
    margin-right: 11px;
}

#services-area .service-benefits li .animated-icon-13,
#services-area .service-benefits-2 li .animated-icon-13 {
    margin-right: 13px;
}

#services-area .service-benefits li .animated-icon-16,
#services-area .service-benefits-2 li .animated-icon-16 {
    margin-right: 16px;
}

#services-area .service-benefits li .animated-icon-18,
#services-area .service-benefits-2 li .animated-icon-18 {
    margin-right: 18px;
}


#services-area .service-benefits li,
#services-area .service-benefits-2 li {
    display: flex;
}

/* Lista de benefícios */
.service-benefits,
.service-benefits-2 {
    list-style: none;
    /* Remove marcadores padrão */
    padding: 0;
    /* Remove espaçamento interno */
    margin: 0;
    /* Remove espaçamento externo */
}

/* Alinha o ícone verticalmente com o texto */
.service-benefits i,
.service-benefits-2 i {
    font-size: 1.4rem;
    color: var(--red-color);
    margin-right: 10px;
    animation: fa-beat 3s infinite;
}

#services-area .service-benefits-2 i {
    animation: fa-flip 3s infinite;
    font-size: 1.5rem;
}

/* Efeito de movimento */
#services-area .img-fluid {
    transition: transform 0.3s ease;
    border-radius: 20px;
    border: solid 0.2rem var(--red-color);
    transform: translateZ(0);
    /* Necessário para otimizar o movimento */
}

/* Efeito de movimento no hover */
#services-area .img-fluid:hover {
    transform: translateY(-10px);
    /* Move a imagem para cima */
}

/* Botão de contato */
#services-area .btn-services {
    margin-top: 20px;
}

#services-area .btn-contact {
    display: inline-block;
    background-color: var(--red-color);
    /* Cor do botão */
    color: var(--light-gray-color);
    /* Cor do texto */
    padding: 10px 20px;
    text-decoration: none;
    /* Remove sublinhado */
    border-radius: 5px;
    /* Bordas arredondadas */
    font-weight: bold;
    font-size: 1.3rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Adiciona transição para zoom */
}

/* Efeito de zoom no botão ao passar o mouse */
#services-area .btn-contact:hover {
    background-color: var(--dark-red-color);
    /* Cor ao passar o mouse */
    transform: scale(1.02);
    /* Efeito de zoom */
}

/* CALL ACTION */
#call-area {
    background: linear-gradient(0deg, var(--bg-default-2), var(--bg-default-1));
    color: var(--dark-red-color);
    padding: 80px 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
}

#call-area .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#call-area .row {
    margin-bottom: 20px;
}

#call-area p {
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Estilização do botão */
#call-area .main-btn {
    background-color: var(--red-color);
    color: var(--light-gray-color);
    font-size: 1.6rem;
    font-weight: bold;
    padding: 15px 0px;
    border: none;
    width: 300px;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#call-area .main-btn:hover {
    background-color: var(--dark-red-color);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

#call-area .main-btn:active {
    background-color: var(--dark-red-color);
    transform: scale(1.05);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}



/* Responsividade para telas menores */
@media (max-width: 768px) {
    #services-area {
        padding-top: 140px;
        /* Espaçamento maior para telas pequenas */
    }

    .service-description,
    .service-benefits {
        text-align: left;
        /* Alinha texto à esquerda */
    }
}