:root {
  --black-color: #000;
  --light-gray-color: #EEE;
  --dark-gray-color: #212529;
  --gray-color: #666;
  --red-color: #910404;
  --dark-red-color: #700303;
  --green-color: #00aa00;
  --footer-dev-gray: #888888;
}
